body {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Avenir Next Cyr', sans-serif;
  font-family: 'Avenir Next Cyr Thin', sans-serif;
  font-family: 'Avenir Next Cyr Ultra Light', sans-serif;
  font-family: 'Avenir Next Cyr Light', sans-serif;
  font-family: 'Avenir Next Cyr Heavy', sans-serif;
  font-family: 'Avenir Next Cyr Medium', sans-serif;
  background: #171719;
  color: #ffffff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  padding: 17px 64px 0px 64px;
}

.header__container {
  display: flex;
  position: relative;
  margin-bottom: 200px;
}

.header__container_logo {
  height: 44px;
  width: 199px;
  background: #5a5a5a;
  border: 1px dashed #c7c7c7;
  display: flex;
  font-family: 'Bebas Neue', cursive;
  font-style: normal;

  color: #ffffff;
  font-size: 18px;
}

.header__container_logo_text {
  margin: auto;
}

.header__container_connection {
  width: 200px;
  position: absolute;
  right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Bebas Neue';
  font-size: 18px;
  line-height: 120%;
  color: #e75626;
}

.header__container_btn {
  background: #e75626;
  border-radius: 30px;
  font-family: 'Bebas Neue', cursive;
  color: #ffffff;
  font-size: 18px;
  width: 161px;
  height: 39px;
  white-space: nowrap;
}

.content__container {
  margin-bottom: 108px;
  display: flex;
}

.content__container_text_title {
  font-family: 'Bebas Neue';
  font-size: 120px;
  margin-bottom: 45px;
  line-height: 100%;
}

.content__container_text_desc {
  width: 421px;
  height: 95px;
  font-size: 16px;
  line-height: 120%;
}

.content__container_stat {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.content__container_stat_box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: auto;
  text-align: center;
}

.content__container_stat_title {
  font-family: 'Bebas Neue';
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #ffffff;
}

.content__container_stat_block_title {
  font-family: 'Bebas Neue';
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #e75626;
  margin-bottom: 12px;
}

.content__container_stat_block_desc {
  font-family: 'Bebas Neue';
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
}

.content__container_stat_block_line {
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: 0.5px solid #d2c4c4;
}

.bottom {
  display: flex;
  position: relative;
}

.registration__container {
  margin-bottom: 333px;
  display: flex;
  flex-direction: column;
  width: 286px;
}

.registration__container_title {
  font-family: 'Bebas Neue';
  font-size: 36px;
  line-height: 120%;
  color: #e75626;
}

.registration__container_desc {
  margin-bottom: 36px;
}

.registration__container_form {
  display: flex;
  flex-direction: column;
}

.registration__container_form_labels {
  font-family: 'Bebas Neue';
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 20px;
}

.registration__container__form_input {
  box-sizing: border-box;
  padding: 12px 120px 12px 18px;
  gap: 10px;
  width: 421px;
  height: 42px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  background: #171719;
  margin-bottom: 20px;

  /* font-family: 'Avenir Next Cyr'; */
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.5;
}

.registration__container__form_btn {
  width: 148px;
  height: 38px;
  left: 64px;
  top: 426px;
  background: #e75626;
  border-radius: 30px;

  font-family: 'Bebas Neue';
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  font-family: 'Bebas Neue';
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
}

.list {
  position: absolute;
  right: 0px;
  width: 670px;
  text-align: center;
  overflow: hidden;
}

.list_title {
  font-family: 'Bebas Neue';
  font-size: 36px;
  line-height: 120%;
}

.list_head {
  font-family: 'Bebas Neue';
  font-size: 24px;
  line-height: 120%;
}

td {
  border-bottom: 1px solid #ffffff;
}

tr {
  padding-top: 16px;
  padding-bottom: 16px;
}
